html {
  background:
  linear-gradient(
    rgba(0,0,0,0.8),
    rgba(0,0,0,0.8)
  ),
  url("back.png");
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
}

h1 {
    font-variant: small-caps;
}

.header {
    text-align: center;
}

#nav {
    margin-left: 15%;
}
#nav > li {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    font-size: 20px;
    font-variant: small-caps;
}

#nav > li > a {
    text-decoration: none;
    font-weight: bold;
}

a, a.visited {
    color: #afafff;
}

.content {
    margin-left: 5%;
}
