html {
  background: url("back.png"), #000000;
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
}

h1 {
    font-variant: small-caps;
}

.header {
    text-align: center;
}

#nav {
    margin-left: 35%;
}
#nav > li {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    font-size: 20px;
    font-variant: small-caps;
}

#nav > li > a {
    text-decoration: none;
    font-weight: bold;
}

a, a.visited {
    color: #afafff;
}

.content {
    margin-left: 25%;
    margin-right: 25%;
}
