html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
}

h1 {
  font-variant: small-caps;
  font-size: 50px;
}

a, a.visited {
  color: #0044AA;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

@media screen and (min-width: 600px) {
  .content {
    width: 75%;
  }
  .indent {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    width: 60%;
  }
  .indent {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .content {
    width: 50%;
  }
}
