html {
  margin-left: 5%;
  background: #20181B;
  color:#AAA;
  font-family: "Lucida Console", Monaco, monospace;
  line-height: 1.7;
}

h1 {
  font-variant: small-caps;
  color:white;
}

h2 {
  margin-left: 30px;
  font-variant: small-caps;
  color:#CCC;
}

h3 {
  margin-left: 50px;
  color:#BBB;
}

h4 {
  margin-left: 65px;
  color:#AAA;
}

pre {
  margin-left: 90px;
  color:#F68;
  font-size: 14pt;
}

ul {
  margin-left: 60px;
  list-style-type: square;
}

a, a.visited {
    color: #afafff;
    text-decoration: none;
}


p {
    margin-left: 80px;
    margin-right: 20%;
}
