html {
  background: url("https://ja13.org/back.png") #222 no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
}

h1 {
  font-variant: small-caps;
  font-size: 50px;
}

a, a.visited {
  color: #8fefff;
}

@media screen and (min-width: 600px) {
  .content {
    width: 75%;
  }
  .content {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    width: 60%;
  }
  .content {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .content {
    width: 50%;
  }
}
