html {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div {
    word-wrap: break-word;
}

.partition2 {
    float: left;
    width: 50%;
}

.vert {
    transform: translateY(50%);
}

.center {
    text-align: center;
}

.block {
    display: inline-block;
}

.right {
    text-align: left;
    width: 50%;
    vertical-align: top;
}
